@model WebApplication1.Models.Behavior

<h1>Add Behavior</h1>

<form method="post">
    <div>
        <label asp-for="StudentName"></label>
        <input asp-for="StudentName" />
        <span asp-validation-for="StudentName"></span>
        <label asp-for="BehaviorName"></label>
        <input asp-for="BehaviorName" />
        <span asp-validation-for="BehaviorName"></span>
        <label asp-for="Value"></label>
        <input asp-for="Value" />
        <span asp-validation-for="Value"></span>
    </div>

    <input type="submit" name="save" value="Save" />
</form>