@model WebApplication1.Models.Behavior

<h1>Add Behavior</h1>

<form method="post">
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");

            }
        </script>
    }

    <div class="row">
        <div class="col-sm-2">
            <label asp-for="StudentName"></label>
        </div>
        <div class="col-sm-1">
            <input asp-for="StudentName" />
            <span asp-validation-for="StudentName"></span>
        </div>
    </div>
    <div style="height:5px"></div>
    <div class="row">
        <div class="col-sm-2">
            <label asp-for="BehaviorName"></label>
        </div>
        <div class="col-sm-1">
            <input asp-for="BehaviorName" />
            <span asp-validation-for="BehaviorName"></span>
        </div>
    </div>
    <div style="height:5px"></div>
    <div class="row">
        <div class="col-sm-2">
            <label asp-for="Value"></label>
        </div>
        <div class="col-sm-1">
            <input asp-for="Value" />
            <span asp-validation-for="Value"></span>
        </div>
    </div>

    <input type="submit" name="save" value="Save" />
</form>