@model WebApplication1.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
            </tr>
        }
    </table>
    <a asp-action="Create">Add Student</a>
</body>
